
main {
  // background-color: lightcyan;

  display: grid;

  grid-template-columns	:1fr; 
  grid-template-rows: 10vh 60vh 10vh;


  -webkit-user-select: none;  /* Safari用 */
  -moz-user-select: none;     /* Firefox用 */
  -ms-user-select: none;      /* Internet Explorer/Edge用 */
  user-select: none;          /* 非プレフィックス版 */
  
  .space1 {
    // background-color: yellow;
  }

  .article-container {
    padding: 0;
    // background-color: lightgreen;


    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    flex-wrap: nowrap; /* wrap から nowrap に変更 */
    overflow-x: auto; /* 横方向のスクロールバーを許可 */
    align-items: stretch;


    // スクロールバーを隠す
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; // IE および Edge 用
    scrollbar-width: none; // Firefox 用


    > * {
      writing-mode: vertical-rl;
      text-orientation: upright;
      white-space: pre-wrap;
      
    }

    .title{
      // background-color: green;
      padding-right: 5vw;
    }
    .published-at {
      // background-color: yellow;
      padding-right: 1vw;

      display: flex;
      flex-direction: column;
      text-align: right;
    }

    .contents {
      // background-color: yellow;
      padding-right: 5vw;
      padding-left: 5vw;
      text-align: left;
    }
    

  }

  .space2 {
    // background-color: pink;
  }
}


.specialBackground * {
  color: var(--pale-black);
}
